include ../mixins/mixins

footer.footer
  .footer__map-leaflet(id="map-leaflet")

  .footer__wrapper.footer__list
    .wrapper
      ul.footer__block-list.footer__social-list
          include logo-footer
          +social('VK', 'VK')
          +social('Pinterest', 'Pinterest')
          +social('OK', 'OK')

    .footer__item
      .wrapper
        h4.h4.h4--footer Интернет-магазин
        ul.footer__block-list.footer__store-list.store-links
          +footer-store('Каталог', href=pageClass === 'catalog-page' ? false : '#')
          +footer-store('Доставка', href=pageClass === 'delivery-page' ? false : '#')
          +footer-store('Способы оплаты', href=pageClass === 'pay-page' ? false : '#')
          +footer-store('О нас', href=pageClass === 'about-page' ? false : '#')
    .footer__item
      .wrapper
        h4.h4.h4--footer Медиа
        ul.footer__block-list.footer__media-list.media-links
          +footer-store('Блог', href=pageClass === 'catalog-page' ? false : '#')
          +footer-store('Информация для СМИ', href=pageClass === 'delivery-page' ? false : '#')
          +footer-store('Правовая информация', href=pageClass === 'pay-page' ? false : '#')
    .footer__item
      .wrapper
        h4.h4.h4--footer Контакты
        ul.footer__block-list.footer__contacts-list.contacts
          li.contacts__info.contacts__adress
            a.contacts__address-link(href='https://yandex.ru/maps/2/saint-petersburg/house/naberezhnaya_reki_karpovki_5/Z0kYdQZmS0IFQFtjfXV3eX1gYw==/?ll=30.316272%2C59.968137&z=15' target="_blank") Санкт-Петербург, набережная реки Карповки, дом 5
          li.contacts__info.contacts__phone
            a.contacts__phone-link(href='tel:+79999999999') +7 (999) 999-99-99

    .footer__copyright
      span.footer__copyright-text Разработано в&nbsp;
      a.footer__copyright-text(href="https://htmlacademy.ru" target="_blank") HTML Academy
        img.footer__copyright-text.footer__copyright-logo(src="img/icons/htmlacademy.webp" width='12' height='16' alt="Логотип htmlacademy.ru")
