-var logoTablet1x = "img/logo/logo_short.webp";
-var logoTablet2x = "img/logo/logo_short@2x.webp";

-var logoDesctop1x = "img/logo/logo_full.webp";
-var logoDesctop2x = "img/logo/logo_full@2x.webp";

a.footer__logo.logo(href=pageClass === 'index-page' ? false : 'index.html')
  .logo__img
    picture
      source(media='(min-width: 1440px)' srcset=`
      ${logoDesctop1x} 1x,
      ${logoDesctop2x} 2x'` width='170px' height='36px' alt='Логотип компании')
      source(media='(min-width: 768px)' srcset=`
      ${logoDesctop1x} 1x,
      ${logoDesctop2x} 2x'` width='170px' height='36px' alt='Логотип компании')
      img(src=logoTablet1x  srcset=`
      ${logoTablet1x} 1x,
      ${logoTablet2x} 2x'`
      width='82px' height='36px' alt='Логотип компании')
  span.logo__text Интернет-магазин кофейных напитков
