mixin site-nav(title, href)
  li.menu-nav__item.menu-site__item
    if href
      a.menu-nav__link.menu-site__link(href=href rel="noopener noreferrer") #{title}
    else
      a.menu-nav__link.menu-site__link.menu-site__link--active #{title}

mixin social-link(title, svgName, href)
  li.social__item&attributes(attributes)
    a.menu-nav__link.menu-user__link(href=href rel="noopener noreferrer")
      h2.visually-hidden #{title}
      <svg width="20" height="20" viewBox="0 0 19 19">
      <use xlink:href="img/stack.svg##{svgName}"></use>
      </svg>

mixin user-nav(title, svgName, href)
  li.menu-nav__item.menu-user__item
    a.menu-nav__link.menu-user__link(href=href rel="noopener noreferrer")
      h2.visually-hidden #{title}
      <svg width="17" height="17" viewBox="0 0 17 17">
      <use xlink:href="img/stack.svg##{svgName}"></use>
      </svg>
      span.menu-user__link-title #{title}

mixin social(svg, title, href='#')
  li.social__item
    span.visually-hidden #{title}
    a.social__link(href=href)
      svg(width='26.5' height="26.5" viewBox="0 0 26.5 26.5")
        .
          <use xlink:href="img/stack.svg##{svg}"></use>

mixin button(text)
  button.button(type='button')&attributes(attributes)
    span.button__text #{text}

mixin footer-store(title, href)
  li.footer__link-item.link-item
    if href
      a.link-item__title(href=href rel="noopener noreferrer") #{title}
    else
      a.link-item__title #{title}

mixin features(src, title, description)
  li.features__item.feature&attributes(attributes)
    img.feature__img(src=`img/features/${src}.png` width=52 height=56 alt='')
    h3.h3.feature__title #{title}
    p.feature__description #{description}
    if block
      block

mixin card(src, title, description, price)
  li.card__item
    img.card__image(src=`img/catalog/${src}.png` srcset=`
    img/catalog/${src}.png 1x,
    img/catalog/${src}@x2.png 2x`
    width='130' height='188' alt=`Баночка кофе ${title}.` )
    h3.h3.card__title #{title}
    p.card__description #{description}
    p.card__price.actual-price #{price}
    +button('В корзину')(class="card__button")

mixin slider-image(title, desc, oldPrice, newPrice, img)
  .wrapper&attributes(attributes)
    button.wrapper__img.slider__arrow-left
      img.slider__arrow-left(src="img/icons/arrow_left.png" alt="Кнопка предыдущий слайд")
    .slider__content
      picture.slider__image

        //- Не использовал webp, тк плохо читаются надписи на банках

        source(media='(min-width: 1439px)' srcset=`
        img/slider/${img}_desktop.png 1x,
        img/slider/${img}_desktop@x2.png 2x` width='600' height='600')

        source(media='(min-width: 767px)' srcset=`
        img/slider/${img}_tablet.png 1x,
        img/slider/${img}_tablet@x2.png 2x` width='476' height='476')

        img(src=`img/slider/${img}.png`  srcset=`
        img/slider/${img}.png 1x,
        img/slider/${img}@x2.png 2x`
        width='280' height='280' alt=`Баночка кофе ${title}.`)

      h4.h4.slider__badge.badge Новинка!
      h2.h2.slider__title #{title}
      p.slider__description.description #{desc}
      .slider__buy.buy
        s.buy__old-price #{oldPrice}
        p.buy__new-price.actual-price #{newPrice}
        +button("Заказать")
    button.wrapper__img.slider__arrow-right
      img.slider__arrow-right(src="img/icons/arrow_right.png" alt="Кнопка следующий слайд")
