mixin site-nav(title, href)
  li.menu-nav__item.menu-site__item
    if href
      a.menu-nav__link.menu-site__link(href=href rel="noopener noreferrer") #{title}
    else
      a.menu-nav__link.menu-site__link.menu-site__link--active #{title}

mixin social-link(title, svgName, href)
  li.social__item&attributes(attributes)
    a.menu-nav__link.menu-user__link(href=href rel="noopener noreferrer")
      h2.visually-hidden #{title}
      <svg width="20" height="20" viewBox="0 0 19 19">
      <use xlink:href="img/sprite.svg##{svgName}"></use>
      </svg>

mixin user-nav(title, svgName, href)
  li.menu-nav__item.menu-user__item
    a.menu-nav__link.menu-user__link(href=href rel="noopener noreferrer")
      h2.visually-hidden #{title}
      <svg width="17" height="17" viewBox="0 0 17 17">
      <use xlink:href="img/sprite.svg##{svgName}"></use>
      </svg>

mixin social(svg, title, href='#')
  li.social__item
    span.visually-hidden #{title}
    a.social__link(href=href)
    svg(width='26.5' height="26.5" viewBox="0 0 26.5 26.5")
      .
        <use xlink:href="img/sprite.svg##{svg}"></use>

mixin button(text)
  button.button(type='button')&attributes(attributes)
    span.button__text #{text}

mixin footer-store(title, href)
  li.footer__link-item.link-item
    if href
      a.link-item__title(href=href rel="noopener noreferrer") #{title}
    else
      a.link-item__title #{title}

mixin features(src, title, description)
  li.features__item.feature&attributes(attributes)
    img.feature__img(src=`img/features/${src}.webp` width=52 height=56 alt='')
    h3.h3.feature__title #{title}
    p.feature__description #{description}
    if block
      block

mixin card(src, title, description, price)
  li.card__item.card
    img.card__image(src=`img/catalog/${src}.webp` width=130 height=188 alt='Баночка кофе')
    h3.h3.card__title #{title}
    p.card__description #{description}
    p.card__price.actual-price #{price}
    +button('В корзину')(class="card__button")
